/* ================= PROMOTION ================= */
.promotions {
  width: 100vw;
  height: calc(100dvh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  margin: 0;
  padding: 0;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.promotions.container {
  max-width: none !important;
  padding: 0 !important;
}

.promo-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.promo-slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.promo-item {
  flex: 0 0 100%;
  height: 100%;
}


 /* IMAGE */
.promo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ARROWS */
.promo-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  z-index: 10;
  cursor: pointer;

  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  );

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  color: #fff;
  font-size: 22px;

  transition: all 0.3s ease;
}

.promo-arrow.left {
  left: 20px;
}

.promo-arrow.right {
  right: 20px;
}

/* arrow hover*/
.promo-arrow:hover {
  transform: translateY(-55%) scale(1.15);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  background: linear-gradient(
    135deg,
    rgba(229, 9, 20, 0.8),
    rgba(245, 199, 122, 0.8)
  );
}

 /* DOTS */
.promo-dots {
  position: absolute;
  bottom: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.promo-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
}

.promo-dot.active {
  width: 28px;
  border-radius: 20px;
  background: var(--accent-gold);
}

.promo-dot:hover {
  background: var(--accent-gold);
}
