
<!-- HEADER -->
<nav class="navbar navbar-expand-lg cinema-header fixed-top">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" id="header-logo-link">
      <img id="header-logo-img" alt="Logo" class="logo-img">
    </a>

    <!-- HAMBURGER MOBILE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU CENTER -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
      <ul class="navbar-nav cinema-menu">
        <li class="nav-item"><a class="nav-link" id="nav-lich-chieu">Lịch chiếu</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-rap">Rạp</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-news">Tin tức</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-uudai">Ưu đãi</a></li>
        <li class="nav-item"><a class="nav-link" id="nav-giave">Giá vé</a></li>
        <li class="nav-item"><a class="nav-link highlight" href="#">Đặc biệt</a></li>
      </ul>
    </div>

    <!-- USER -->
    <div class="user-menu dropdown"></div>

  </div>
</nav>

