<section class="promotions">
  <div class="promo-wrapper">
    <!-- Slider -->
    <div class="promo-slider" id="promoSlider">
      <div class="promo-item">
        <img src="/cop_cinema/assets/images/banners/hoang_tu_quy_n.jpg" alt="Promo 1">
      </div>
      <div class="promo-item">
        <img src="/cop_cinema/assets/images/banners/chu_thuat_hoi_chien_bien_co_shibuya_tu_diet_hoi_du_n.jpg" alt="Promo 2">
      </div>
      <div class="promo-item">
        <img src="/cop_cinema/assets/images/banners/5_cm_tren_giay_n.jpg" alt="Promo 3">
      </div>
    </div>

    <!-- Arrows -->
    <button class="promo-arrow left" id="promoPrev">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="promo-arrow right" id="promoNext">
      <i class="fa-solid fa-angle-right"></i>
    </button>

    <!-- Dot indicators -->
    <div class="promo-dots" id="promoDots"></div>
  </div>
</section>