<section class="promotions">
  <div class="promo-wrapper">
    <!-- Slider -->
    <div class="promo-slider" id="promoSlider">
      <div class="promo-item">
        <img id="promo-img-1" alt="Promo 1">
      </div>
      <div class="promo-item">
        <img id="promo-img-2" alt="Promo 2">
      </div>
      <div class="promo-item">
        <img id="promo-img-3" alt="Promo 3">
      </div>
    </div>

    <!-- Arrows -->
    <button class="promo-arrow left" id="promoPrev">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="promo-arrow right" id="promoNext">
      <i class="fa-solid fa-angle-right"></i>
    </button>

    <!-- Dot indicators -->
    <div class="promo-dots" id="promoDots"></div>
  </div>
</section>
